# SQL

See http://zetcode.com/db/sqlitepythontutorial/ and https://www.sqlite.org/quickstart.html

## Put data into a SQLite database file

BEFORE YOU START: create an empty text file called example_data/sqlite_example.db

In [ ]:
import sqlite3 as lite
import sys

conn = lite.connect('example_data/sqlite_example.db')
c = conn.cursor()
c.execute('''CREATE TABLE people (poid, firstname, lastname, balance, start date)''')
c.execute('''INSERT INTO people VALUES (105, 'Dave', 'Smith', 5400.34, '2006-04-23')''')
c.execute('''INSERT INTO people VALUES (106, 'Sandra', 'Smith', 15693.23, '2004-05-21')''')
c.execute('''INSERT INTO people VALUES (107, 'Dave', 'Jones', 4325.34, '2015-04-23')''')
c.execute('''INSERT INTO people VALUES (108, 'Emily', 'Terp', 1000000.21, '2000-01-04')''')
c.execute('''INSERT INTO people VALUES (109, 'George', 'Masters', 1034.23, '2001-12-22')''')
conn.commit()
conn.close()

## Pull data back out of a SQLite database file

In [4]:
import sqlite3 as lite
import sys

conn = lite.connect('example_data/sqlite_example.db')
c = conn.cursor()

t = ('Dave',) #Do this to avoid injection attack...
c.execute('SELECT * FROM people WHERE firstname=?', t)
print(c.fetchone())

(105, 'Dave', 'Smith', 5400.34, '2006-04-23')

In [9]:
print("\nBy value:")
for row in c.execute('SELECT * FROM people ORDER BY balance'):
    print(row)

print("\nBy start date:")
for row in c.execute('SELECT * FROM people ORDER BY "start date"'):
    print(row)

By value:
(109, 'George', 'Masters', 1034.23, '2001-12-22')
(107, 'Dave', 'Jones', 4325.34, '2015-04-23')
(105, 'Dave', 'Smith', 5400.34, '2006-04-23')
(105, 'Dave', 'Smith', 5400.34, '2006-04-23')
(106, 'Sandra', 'Smith', 15693.23, '2004-05-21')
(108, 'Emily', 'Terp', 1000000.21, '2000-01-04')

By start date:
(105, 'Dave', 'Smith', 5400.34, '2006-04-23')
(105, 'Dave', 'Smith', 5400.34, '2006-04-23')
(106, 'Sandra', 'Smith', 15693.23, '2004-05-21')
(107, 'Dave', 'Jones', 4325.34, '2015-04-23')
(108, 'Emily', 'Terp', 1000000.21, '2000-01-04')
(109, 'George', 'Masters', 1034.23, '2001-12-22')